@keyframes bgAnim {
    from {
        background-color: lightsteelblue;
    }
    to {
        background-color: navy;
    }
}

.ui-widget-header {
    background: rgb(17, 63, 103);
    border: 0px;
}

.brandText {
    color: white;
    font-family: cursive;
    font-weight: 900;
    font-size: 30px;
    background-color: steelblue;
    animation-name: bgAnim;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;

    width: 246px;
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 2em;
    padding: 5px 0;
}

.initial {
    text-shadow: 0 0 1px #FF0000;
    font-size: 13px;
    position: relative;;
}

.initial:hover {
    text-shadow: 0 0 3px #ff0000;
    font-size: 16px;
    cursor: pointer;
}

.initialDialog {
    font-size: 17px;
    position: absolute;
    color: navy;
    background-color: lightsteelblue;
    z-index: 9;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#dragzone {
    padding: 10px;
    cursor: move;
    color: #fff;
    background: rgba(17, 63, 103,0.7);
    position: absolute;
}
#mag-content{
    padding: 10px;
    background-color: #34699a;
    color: white;
}

.sidebarTabs {
    transition: transform .2s;
}

.sidebarTabs:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
}

.topButton{
    background-color: #e1f2fb; /* Green */
    border-radius: 3px;
    color: black;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.topButton:hover{
    background-color: #e7e7e7;
    text-decoration: none;
}