@keyframes bgAnim {
    from {
        background-color: lightsteelblue;
    }
    to {
        background-color: navy;
    }
}

.brandText {
    color: white;
    font-family: cursive;
    font-weight: 900;
    font-size: 30px;
    background-color: steelblue;
    animation-name: bgAnim;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;

    width: 246px;
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 2em;
    padding: 5px 0;
}

.initial {
    text-shadow: 0 0 1px #FF0000;
    font-size: 13px;
    position: relative;;
}

.initial:hover {
    text-shadow: 0 0 3px #ff0000;
    font-size: 16px;
}

.initialDialog {
    bottom: 50px;
    left: 100px;
    font-size: 17px;
    position: absolute;
    color: navy;
    background-color: lightsteelblue;
    z-index: 2;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#dragzone {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}